.gu-mirror {
  position: fixed !important;
  z-index: 9999 !important;

  margin: 0 !important;

  color: $gray;
  border-top: 1px solid $blue-lighter;
  border-bottom: 1px solid $blue-lighter;
  box-shadow: $shadow;

  & .media__row {
    background-color: $blue-lightest;
  }

  & * {
    position: relative;

    box-sizing: border-box;
  }

  & :before,
  & :after {
    box-sizing: border-box;
  }

  & .media__column--drag__icon {
    color: $blue-light;
  }
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  user-select: none !important;
}

.gu-transit {
  opacity: .35;
  background-color: $gray-light;
  box-shadow: $shadow-inset;
}
