.media {
  user-select: none;

  border: solid 2px $gray-light;
  border-radius: 3px;
  background: $white-off;
  box-shadow: $shadow;

  & * {
    position: relative;

    box-sizing: border-box;
  }

  & :before,
  & :after {
    box-sizing: border-box;
  }

  & + & {
    margin-top: 2em;
  }
}

.media__actions {
  margin: 1em;
}
