.media {
  user-select: none;

  border: solid 2px $gray-light;
  border-radius: 3px;
  background: $white-off;
  box-shadow: 0 3px rgba(0, 0, 0, .035);

  & * {
    position: relative;

    box-sizing: border-box;
  }

  & :before,
  & :after {
    box-sizing: border-box;
  }

  & + & {
    margin-top: 2em;
  }
}
