.media .row_editor {
  .text {
    margin-bottom: 3px;

    &_input {
      display: inline-block;
      border-radius: 2px;
      padding: .25em 0;
      transition: all .1s ease-out;

      &:focus,
      &.-empty {
        padding: .25em .5em;
        background-color: #fff;
      }

      &:focus {
        outline: none;
      }
    }

    &_label {
      color: color(gray, light);
      display: inline-block;
      margin-left: .5em;
      text-transform: lowercase;
      font-size: .9em;
      cursor: pointer;
      
      > i {
        margin-right: .25em;
      }
    }
  }

  .toggle {
    display: inline-block;
    margin-right: 4px;
    padding: .1em .5em;
    border-radius: 2px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background-color: color(gray, lighter);
    cursor: pointer;

    &.-active {
      background-color: color(green);
    }

    &_icon {
      top: -1px;

      + .toggle_label {
        margin-left: .4em;
      }
    }
  }
}
