.media .row_editor {
  .text {
    margin-bottom: 3px;

    &_input {
      display: inline-block;
      border-radius: 2px;
      padding: .25em 0;
      transition: all .1s ease-out;

      &:focus {
        padding: .25em .5em;
        background-color: #fff;
      }

      &:focus {
        outline: none;
      }
    }

    &_label {
      color: color(gray, light);
      display: inline-block;
      margin-left: .5em;
      text-transform: lowercase;
      font-size: .9em;
      cursor: pointer;
      
      > i {
        margin-right: .25em;
      }
    }
  }

  .toggle {
    display: inline-block;
    margin-right: 4px;
    padding: .1em .5em;
    border-radius: 2px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background-color: color(gray, lighter);
    cursor: pointer;

    &.-active {
      background-color: color(green);
    }

    &_icon {
      top: -1px;

      + .toggle_label {
        margin-left: .4em;
      }
    }
  }

  .select {
    // React-select overrides

    .Select-control {
      box-shadow: none;
      border-radius: 2px;
      text-align: left;
      border: none;
      margin-top: -5px;
    }

    .Select-input > input {
      font-weight: inherit;
    }

    .Select-menu-outer {
      box-shadow: 0px 1px 20px rgba(#000, .25);
      border: none;
    }

    .Select-menu {
      border: 2px solid color(gray, light);
      border-radius: 0 0 2px 2px;
    }

    .Select-option {
      border-radius: 0;

      &.is-focused {
        color: $white;
        background-color: color(blue, dark);
      }
    }
  }
}
