$colors: (
    gray: (
        lightest: #f8f8f8,
        lighter: #d8d8da,
        light: #B8B9B6,
        default: #9699a1,
        dark: #676970,
        darker: #3c3c3c,
        darkest: #444
    ),

    blue: (
        lightest: #e5f4f8,
        lighter: #a7dceb,
        light: #73c7de,
        default: #13869e,
        dark: #11727f,
        darker: #20365a,
        darkest: #262835
    ),
    
    green: (
        lightest: #cce9e5,
        lighter: #bfe3de,
        light: #a9d6d0,
        default: #5ebbae,
        dark: #40988c,
        darker: #287368,
        darkest: #13463f
    )    
);

@function color($color, $key: 'default') {
    @return map-get(map-get($colors, $color), $key);
}
