$white: #fff;
$white-off: #f8f8f8;
$blue: #13869e;
$blue-light: #73c7de;
$blue-lighter: #a7dceb;
$blue-lightest: #e5f4f8;
$gray: rgba(0, 2, 5, .5);
$gray-light: rgba(0, 2, 5, .25);
$gray-lighter: rgba(0, 2, 5, .08);
$gray-lightest: rgba(0, 2, 5, .05);
$green: #5ebbae;
$green-light: #6ac7ba;
$green-lighter: #bfe3de;
$green-dark: #5ab3a6;
$red: #e83134;
$red-light: #e46e6c;
$red-lighter: #e69a9c;
$red-lightest: #ffe9e2;
$thumb-width: 3em;
$shadow: 0 3px rgba(0, 2, 5, .05);
$shadow-inset: inset 2px 2px rgba(0, 2, 5, .05);
